rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /content/main {
      allow read: if true;
      allow write: if request.resource.data.writeSecret == "MuraliKarthik_SecureWriteSecret_2026_a8d7e6";
    }
  }
}
